@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 0 0% 100%;
    --black: 0 0% 0%;

    --yellow-55: 47.95 100% 55.1%;
    --yellow-60: 47.94 100% 60%;
    --yellow-70: 47.84 100% 70%;
    --yellow-80: 48.24 100% 80%;
    --yellow-90: 48.24 100% 90%;
    --yellow-95: 48.46 100% 94.9%;
    --yellow-97: 48 100% 97.06%;
    --yellow-99: 48 100% 99.02%;

    --dark-08: 0 0% 7.84%;
    --dark-10: 0 0% 10.2%;
    --dark-15: 0 0% 14.9%;
    --dark-20: 0 0% 20%;
    --dark-25: 0 0% 25.1%;
    --dark-30: 0 0% 30.2%;
    --dark-35: 0 0% 34.9%;
    --dark-40: 0 0% 40%;

    --grey-50: 240 1.18% 50%;
    --grey-60: 240 0.98% 60%;
    --grey-70: 0 0% 70.2%;
    --grey-80: 0 0% 80%;
    --grey-90: 240 5.88% 90%;
    --grey-95: 240 7.69% 94.9%;
    --grey-97: 240 6.67% 97.06%;
    --grey-99: 240 20% 99.02%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-dark-08 text-white;
  }
}
